[Desktop Entry]
Version=::VERSION::
Type=Application
Name=::NAME::
GenericName=::NAME::
Exec=cd /opt/::FILE:: && ::FILE:: %F
Terminal=false
Icon=::FILE::
Categories=Game;
StartupNotify=true
