[Desktop Entry]
Version=::VERSION::
Type=Application
Name=::NAME::
GenericName=::NAME::
Exec=/opt/::FILE::/::FILE::.sh %F
Terminal=false
Icon=::FILE::
Categories=Game;
StartupNotify=true
